// Typography
body {
  @include body-font;
}

h1,h3,h5{
    @include heading-font;
     color: $brown;
     padding-bottom: 16px;
}
h2,h4,h6{
      @include body-font;
      color: $khaki-green;
       padding-bottom: 8px;
} 

h1{
  font-size: 3.5rem;
}
h2{
  font-weight: 600;
}
h3{
  color: $faded-blue;
}
h4{
  color: $charcoal;
}
h6{
  font-weight:400; 
  font-style:italic;

}


h1.display-4{
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  line-height: 1.3;
  text-align: left;
  color: $brown;
}

// Custom Horizontal Rule with Star Icon
   hr{
    opacity: 0;
   }

// Section Padding Settings
section {
  padding: 4rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}



// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  border:none;
  opacity: 1.0;
  &:hover{
    color: $faded-blue !important;
    opacity:1.0;
  }
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}
