// Variables


// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #6b98b8 !default;
$secondary: #fff !default;

$faded-blue: #6b98b8;
$khaki-green: #929436;
$white: #ffffff;
$pale-gray: #f1f2f3;
$charcoal: #373a39;
$brown: #433837;
$steel: #868fa0;

// Fonts
$menufont: 'Lato', sans-serif;
$header-h1: 'backtoblack';
$bodyfont: 'Lato', sans-serif;
$libre: 'Libre Baskerville', serif;